.tweet {
    background-color: grey;
    width: 800px;
    padding: 20px;
    margin-bottom: 40px;
}

.tweet-header {
    display: flex;
    flex-direction: row;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    align-items: center;
}

.tweet-header-info {
    margin-left: 30px;
}